<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/375style.css">
    <title>Гениальные идеи</title>
</head>
<body>
    <div id="elements">
        <img id="green-1" src="/static/green1.svg" alt="green1">
        <img id="green-figure-2" src="/static/green2.svg" alt="green2">
        <img id="pink" src="/static/pink.svg" alt="pink">
        <img id="blue-2" src="/static/blue2.svg" alt="blue2">
        <img id="circle" src="/static/pink-circle.svg" alt="pink-circle">
        <img id="wave" src="/static/wave.svg" alt="wave">
    </div>
    <main id="generator">
        <img id="logo-in-box" src="/static/gm_main_color.png" alt="logo">
        <div class="container">
            <p id="field">
            </p>
        </div>
        <div id="button-place">
            <button id="main-button" name="ideafind" type="button" onclick="clickFunction();"> 
                <p id="button-text">Сгенерировать идею</p></button>
        </div>
    </main>
    <script>
        const field = document.getElementById("field")
    const clickFunction = async () => {
        let idea = await fetch('/endpoint')

        if (idea.ok) { 
        let json = await idea.json();
        console.log(json)
        const txt = json.txt
        field.textContent = txt
        } else {
        alert("Ошибка HTTP: " + idea.status);
        }
    }
    </script>  
</body>
</html>

